form{
   background-color: whitesmoke;
}
h1{
    color: black;
}

body{
    font-family: 'Roboto Slab', serif;
    background-image: url(pink.jpg);
    background-size: cover;


}
h5{
    text-emphasis: none;
    text-decoration: none;
    font-size: 14px;
}

.container{
    width: 450px;
    background: whitesmoke;
    padding: 20px;
    margin-top: 6%;
    margin-left: 20%;
    text-align: center;
}

input[type=text], input[type=password]{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid greenyellow;
    box-sizing: border-box;
    text-align: left;

}
button{
    background-color: cyan;
    color: black;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    outline: none;

}

button:hover{
    opacity: 0.7;
}

.text-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    
}

.google{
    background-color: red;
   
}

.google> a{
    text-decoration: none;
    color: white;
}

.fb{
    background-color: rgb(29, 65, 170);

}

.fb > a{
    text-decoration: none;
    color: white;
}

label{
    margin-left: 10px;
}